/* ------------------------------------------------------------------
[Table of contents]
/*
# overwrite some style of stylus */
/* ------------------------------------------------------------------
[FontAwesome]
*/
/* ------------------------------------------------------------------
[Global]
*/
$button-text-transform = none;
$body-font-family = 'Muli'; // 'Muli';
$light-color = #F5F9FC;
$secondary-color = #0091FF;
$button-border-radius = 2px;

@import '~vuetify/src/stylus/main.styl';

.theme--light.application {
  background-color: $light-color;
}

// *
// color: #3C88B5
.v-text-field {
  &--outline {
    & > .v-input__control > .v-input__slot {
      border: 2px solid $light-color !important;
    }
  }
}

body {
  font-family: $body-font-family;
  font-size: $font-size-root;
  font-weight: $font-weights.regular;
  line-height: $line-height-root;
}

h1, h2 {
  color: #3C88B5;
  font-family: Montserrat;
  letter-spacing: -0.5;
}

th, td, span, div, .form-label, .form-select {
  color: #3C88B5;
  font-family: Muli;
}

.form-label {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.form-select {
  font-style: normal;
  font-weight: normal;
  max-width: 178px;

  &.v-text-field--outline > .v-input__control > .v-input__slot {
    border: 2px solid #e8eff7 !important;
    padding-left: 0px;
  }

  .v-input__prepend-inner {
    margin-top: 4px !important;
  }

  i {
    font-size: 12px;
    color: #3C88B5 !important;
  }

  .v-select__slot {
    opacity: 0.5;
    font-size: 12px;
  }

  &.v-text-field--outline .v-input__slot {
    min-height: 36px !important;
  }
}

/* ------------------------------------------------------------------
[Components / Toolbar]
*/
#core-view {
  background-color: $light-color;
}

.toolbar-list {
  .v-list__tile {
    padding-left: 3px;
    padding-right: 24px;
  }
}

.toolbar-ext {
  .v-toolbar__items {
    .v-btn--active:focus, .v-btn:hover {
      background-color: $light-color;
    }

    .v-btn--active:before {
      background-color: white;
    }

    .v-btn--active {
      font-weight: bold;
      border-bottom: 3px solid $secondary-color;
      margin-bottom: -3px !important;
    }
  }
}

.v-tooltip__content {
  background-color: $secondary-color;
}

.primary--text .v-list__tile--active {
  color: black !important;
}

.theme--light.v-list {
  .v-list__tile--link:hover {
    background: $light-color;
  }
}

.bl {
  vertical-align: baseline;
}

.left-menu {
  padding-top: 0px;

  .v-list__tile {
    padding-right: 8px;
    border-radius: 0;
  }

  &__switch {
    background-color: #F5F9FC;
    min-width: 64px;
    min-height: 64px;
    padding-top: 8px;
  }

  &__icons {
    .v-list__tile:not(.v-list__tile--active) {
      .theme--light.v-icon {
        color: rgba(0, 145, 255, 0.6) !important;
      }
    }

    // active menu icon
    .v-list__tile--active {
      border-left: 2px solid $secondary-color;
      background: $light-color;
      padding-left: 14px;

      .theme--light.v-icon {
        color: $secondary-color !important;
      }
    }
  }
}