<configuration>
  <system.webServer>
    <rewrite>
        <rules>
          <rule name="SPA" stopProcessing="true">
            <match url="^(?!.*(.js|.css|.png|.jpg|.ico|.svg|.woff|.woff2|.ttf)).*$" />
            <conditions logicalGrouping="MatchAll">
            </conditions>
            <action type="Rewrite" url="/"  appendQueryString="true" />
          </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
